<footer class="footer">
  <div class="container footer-container">
    <div class="footer-sobre">
      <img src="assets/logo.png" alt="Logo Acumaru Rodapé" class="footer-logo">
      <p>Acumaru Consultoria Ambiental<br>Soluções sustentáveis para um futuro melhor.</p>
    </div>
    <div class="footer-links">
      <h4>Links Rápidos</h4>
      <ul>
        <li><a href="#sobre">Sobre Nós</a></li>
        <li><a href="#servicos">Serviços</a></li>
        <li><a href="#porque-acumaru">Por que a Acumaru?</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
    </div>
    <div class="footer-contato">
      <h4>Contato</h4>
      <p><i class="fas fa-envelope"></i> <a
          href="mailto:contato@acumaruambiental.com">contato@acumaruambiental.com</a></p>

      <div class="social-icons">
        <a href="https://www.linkedin.com/in/adriane-cumaru-0919322aa/" aria-label="LinkedIn"><i
            class="fab fa-linkedin"></i></a>
        <a href="https://www.instagram.com/acumaru/" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
      </div>

    </div>
  </div>
  <div class="footer-copy">
    <p>&copy; <span id="currentYear"></span> Acumaru Consultoria Ambiental. Todos os direitos reservados.</p>
  </div>
</footer>
