<header class="header">
  <div class="container">
    <a href="index.html" class="logo-link-header">
      <img src="assets/logo.png" alt="Logo Acumaru Consultoria Ambiental" class="logo">
      <h2 class="logo-text">acumaru</h2>
    </a>
    <nav id="main-nav">
      <a href="#sobre">sobre</a>
      <a href="#servicos">serviços</a>
      <a href="#porque-acumaru">por que contratar nossos serviços?</a>
      <a href="#contato">contatos</a>
    </nav>
    <button class="menu-toggle" id="menu-toggle-button" aria-label="Abrir menu" aria-expanded="false">
      <i class="fas fa-bars"></i>
    </button>
  </div>
</header>
